<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- 타이틀에 해당하는 것을 블럭화한다. -->
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        {% if current_user.is_authenticated %}
            <p>
                <span>{{ current_user.username }}</span>
                <span><a href="{{ url_for('auth.logout') }}">로그아웃</a></span>
            </p>
        {% endif %}
    </div>
    <!-- body contents를 상속처에서 구현한다.-->
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
