<tbody>
    <tr>
    <th>1. 매출액</th>
    <td>304,439</td>
    <td>335,109</td>
    <td>359,370</td>
    <td>325,175</td>
    <td>348,574</td>
    <td>333,622</td>
    <td>337,294</td>
    <td>342,886</td>
    <td>351,705</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>3,038,175</td>
    </tr> 
    <tr>
    <th>2. 매출원가</th>
    <td>246,151</td>
    <td>266,233</td>
    <td>261,296</td>
    <td>246,230</td>
    <td>260,925</td>
    <td>250,639</td>
    <td>250,657</td>
    <td>259,118</td>
    <td>266,842</td>
    <td>-19,393</td>
    <td>-18,430</td>
    <td>-17,929</td>
    <td>2,252,339</td>
    </tr> 
    <tr>
    <th>매출원가(%)</th>
    <td>80.90%</td>
    <td>79.40%</td>
    <td>72.70%</td>
    <td>75.70%</td>
    <td>74.90%</td>
    <td>75.10%</td>
    <td>74.30%</td>
    <td>75.60%</td>
    <td>75.90%</td>
    <td>-inf%</td>
    <td>-inf%</td>
    <td>-inf%</td>
    <td>74.10%</td>
    </tr> 
    <tr class="fold">
     <td colspan="7"> 
     <div class="fold-content">         
     <table class="small-friendly"> 
     <tr> 
    <th>매출원가</th>
    <td>231,455</td>
    <td>252,871</td>
    <td>248,503</td>
    <td>235,199</td>
    <td>246,024</td>
    <td>237,817</td>
    <td>238,251</td>
    <td>248,355</td>
    <td>255,880</td>
    <td>-19,393</td>
    <td>-18,430</td>
    <td>-17,929</td>
    <td>2,138,604</td>
    </tr> 
    <tr> 
    <th>선임</th>
    <td>14,406</td>
    <td>13,135</td>
    <td>12,585</td>
    <td>10,797</td>
    <td>14,721</td>
    <td>12,602</td>
    <td>12,121</td>
    <td>10,494</td>
    <td>10,718</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>111,580</td>
    </tr> 
    <tr> 
    <th>수출보험료</th>
    <td>290</td>
    <td>227</td>
    <td>208</td>
    <td>235</td>
    <td>179</td>
    <td>219</td>
    <td>284</td>
    <td>269</td>
    <td>244</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2,156</td>
    </tr> 
     </table> 
     </div> 
     </td> 
     </tr> 
    <tr>
    <th>3. 매출총이익</th>
    <td>58,288</td>
    <td>68,876</td>
    <td>98,074</td>
    <td>78,945</td>
    <td>87,649</td>
    <td>82,984</td>
    <td>86,637</td>
    <td>83,768</td>
    <td>84,863</td>
    <td>19,393</td>
    <td>18,430</td>
    <td>17,929</td>
    <td>785,836</td>
    </tr> 
    <tr>
    <th>매출총이익(%)</th>
    <td>19.10%</td>
    <td>20.60%</td>
    <td>27.30%</td>
    <td>24.30%</td>
    <td>25.10%</td>
    <td>24.90%</td>
    <td>25.70%</td>
    <td>24.40%</td>
    <td>24.10%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>25.90%</td>
    </tr> 
    <tr>
    <th>4. 판매직접비</th>
    <td>16,054</td>
    <td>17,725</td>
    <td>24,564</td>
    <td>18,498</td>
    <td>22,971</td>
    <td>17,588</td>
    <td>19,871</td>
    <td>19,210</td>
    <td>19,912</td>
    <td>3,365</td>
    <td>3,318</td>
    <td>3,383</td>
    <td>186,458</td>
    </tr> 
    <tr class="view">
    <th>판매직접비(%)</th>
    <td>5.30%</td>
    <td>5.30%</td>
    <td>6.80%</td>
    <td>5.70%</td>
    <td>6.60%</td>
    <td>5.30%</td>
    <td>5.90%</td>
    <td>5.60%</td>
    <td>5.70%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>6.10%</td>
    </tr> 
    <tr class="fold">
     <td colspan="7"> 
     <div class="fold-content">         
     <table class="small-friendly"> 
     <tr> 
    <th>수출수수료</th>
    <td>557</td>
    <td>743</td>
    <td>631</td>
    <td>581</td>
    <td>486</td>
    <td>498</td>
    <td>530</td>
    <td>561</td>
    <td>696</td>
    <td>147</td>
    <td>138</td>
    <td>140</td>
    <td>5,708</td>
    </tr> 
    <tr> 
    <th>내수판매수수료</th>
    <td>914</td>
    <td>988</td>
    <td>965</td>
    <td>957</td>
    <td>1,059</td>
    <td>1,024</td>
    <td>1,115</td>
    <td>1,293</td>
    <td>1,623</td>
    <td>496</td>
    <td>579</td>
    <td>558</td>
    <td>11,570</td>
    </tr> 
    <tr> 
    <th>수출운반비</th>
    <td>2,134</td>
    <td>2,429</td>
    <td>2,747</td>
    <td>2,263</td>
    <td>2,221</td>
    <td>1,666</td>
    <td>1,997</td>
    <td>1,771</td>
    <td>1,660</td>
    <td>587</td>
    <td>558</td>
    <td>536</td>
    <td>20,571</td>
    </tr> 
    <tr> 
    <th>내수운반비</th>
    <td>7,852</td>
    <td>7,872</td>
    <td>9,870</td>
    <td>7,744</td>
    <td>8,734</td>
    <td>8,882</td>
    <td>9,484</td>
    <td>9,143</td>
    <td>9,140</td>
    <td>1,104</td>
    <td>1,132</td>
    <td>1,142</td>
    <td>82,099</td>
    </tr> 
    <tr> 
    <th>P. L. 보험료</th>
    <td>577</td>
    <td>528</td>
    <td>587</td>
    <td>572</td>
    <td>591</td>
    <td>567</td>
    <td>576</td>
    <td>576</td>
    <td>580</td>
    <td>234</td>
    <td>228</td>
    <td>229</td>
    <td>5,845</td>
    </tr> 
    <tr> 
    <th>수출교환보상비</th>
    <td>305</td>
    <td>402</td>
    <td>-705</td>
    <td>348</td>
    <td>346</td>
    <td>335</td>
    <td>438</td>
    <td>421</td>
    <td>428</td>
    <td>100</td>
    <td>103</td>
    <td>108</td>
    <td>2,630</td>
    </tr> 
    <tr> 
    <th>내수교환보상비</th>
    <td>93</td>
    <td>377</td>
    <td>57</td>
    <td>171</td>
    <td>140</td>
    <td>174</td>
    <td>179</td>
    <td>202</td>
    <td>217</td>
    <td>10</td>
    <td>38</td>
    <td>46</td>
    <td>1,705</td>
    </tr> 
    <tr> 
    <th>수출포장비</th>
    <td>369</td>
    <td>470</td>
    <td>269</td>
    <td>394</td>
    <td>412</td>
    <td>409</td>
    <td>393</td>
    <td>371</td>
    <td>355</td>
    <td>207</td>
    <td>189</td>
    <td>184</td>
    <td>4,024</td>
    </tr> 
    <tr> 
    <th>내수포장비</th>
    <td>123</td>
    <td>115</td>
    <td>137</td>
    <td>104</td>
    <td>120</td>
    <td>109</td>
    <td>119</td>
    <td>116</td>
    <td>117</td>
    <td>28</td>
    <td>22</td>
    <td>21</td>
    <td>1,130</td>
    </tr> 
    <tr> 
    <th>내수상표사용료</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>수출상표사용료</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>해외광고선전비</th>
    <td>285</td>
    <td>282</td>
    <td>2,638</td>
    <td>1,797</td>
    <td>5,165</td>
    <td>578</td>
    <td>628</td>
    <td>754</td>
    <td>1,159</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>13,288</td>
    </tr> 
    <tr> 
    <th>국내광고선전비</th>
    <td>2,843</td>
    <td>3,519</td>
    <td>7,366</td>
    <td>3,567</td>
    <td>3,697</td>
    <td>3,346</td>
    <td>4,411</td>
    <td>4,002</td>
    <td>3,935</td>
    <td>452</td>
    <td>331</td>
    <td>418</td>
    <td>37,888</td>
    </tr> 
     </table> 
     </div> 
     </td> 
     </tr> 
    <tr>
    <th>5. 영업이익①</th>
    <td>42,234</td>
    <td>51,151</td>
    <td>73,510</td>
    <td>60,447</td>
    <td>64,679</td>
    <td>65,396</td>
    <td>66,766</td>
    <td>64,559</td>
    <td>64,951</td>
    <td>16,028</td>
    <td>15,112</td>
    <td>14,545</td>
    <td>599,378</td>
    </tr> 
    <tr>
    <th>영업이익1(%)</th>
    <td>13.90%</td>
    <td>15.30%</td>
    <td>20.50%</td>
    <td>18.60%</td>
    <td>18.60%</td>
    <td>19.60%</td>
    <td>19.80%</td>
    <td>18.80%</td>
    <td>18.50%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>19.70%</td>
    </tr> 
    <tr>
    <th>6. 일반관리비</th>
    <td>34,183</td>
    <td>34,573</td>
    <td>43,593</td>
    <td>35,238</td>
    <td>36,890</td>
    <td>37,726</td>
    <td>39,190</td>
    <td>40,245</td>
    <td>38,706</td>
    <td>4,965</td>
    <td>5,019</td>
    <td>5,142</td>
    <td>355,470</td>
    </tr> 
    <tr class="view">
    <th>일반관리비(%)</th>
    <td>11.20%</td>
    <td>10.30%</td>
    <td>12.10%</td>
    <td>10.80%</td>
    <td>10.60%</td>
    <td>11.30%</td>
    <td>11.60%</td>
    <td>11.70%</td>
    <td>11.00%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>11.70%</td>
    </tr> 
    <tr class="fold">
     <td colspan="7"> 
     <div class="fold-content">         
     <table class="small-friendly"> 
     <tr> 
    <th>임원급여</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>급료와 수당</th>
    <td>11,584</td>
    <td>11,650</td>
    <td>15,086</td>
    <td>11,570</td>
    <td>13,037</td>
    <td>14,701</td>
    <td>14,598</td>
    <td>14,567</td>
    <td>14,608</td>
    <td>1,183</td>
    <td>1,128</td>
    <td>1,133</td>
    <td>124,844</td>
    </tr> 
    <tr> 
    <th>퇴직충당금</th>
    <td>949</td>
    <td>949</td>
    <td>919</td>
    <td>992</td>
    <td>983</td>
    <td>998</td>
    <td>989</td>
    <td>989</td>
    <td>989</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>8,757</td>
    </tr> 
    <tr> 
    <th>복리후생비</th>
    <td>2,694</td>
    <td>2,770</td>
    <td>3,612</td>
    <td>2,499</td>
    <td>3,443</td>
    <td>2,887</td>
    <td>3,014</td>
    <td>3,132</td>
    <td>2,860</td>
    <td>459</td>
    <td>481</td>
    <td>459</td>
    <td>28,309</td>
    </tr> 
    <tr> 
    <th>여비교통비</th>
    <td>727</td>
    <td>836</td>
    <td>980</td>
    <td>912</td>
    <td>1,024</td>
    <td>1,012</td>
    <td>994</td>
    <td>984</td>
    <td>975</td>
    <td>152</td>
    <td>143</td>
    <td>144</td>
    <td>8,881</td>
    </tr> 
    <tr> 
    <th>통신비</th>
    <td>321</td>
    <td>313</td>
    <td>341</td>
    <td>317</td>
    <td>322</td>
    <td>319</td>
    <td>364</td>
    <td>353</td>
    <td>339</td>
    <td>33</td>
    <td>35</td>
    <td>36</td>
    <td>3,093</td>
    </tr> 
    <tr> 
    <th>수도광열비</th>
    <td>623</td>
    <td>550</td>
    <td>503</td>
    <td>389</td>
    <td>383</td>
    <td>433</td>
    <td>449</td>
    <td>444</td>
    <td>446</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>4,220</td>
    </tr> 
    <tr> 
    <th>세금과공과</th>
    <td>750</td>
    <td>883</td>
    <td>791</td>
    <td>850</td>
    <td>883</td>
    <td>1,072</td>
    <td>907</td>
    <td>823</td>
    <td>938</td>
    <td>382</td>
    <td>366</td>
    <td>367</td>
    <td>9,012</td>
    </tr> 
    <tr> 
    <th>지급임차료</th>
    <td>499</td>
    <td>448</td>
    <td>399</td>
    <td>390</td>
    <td>622</td>
    <td>530</td>
    <td>751</td>
    <td>674</td>
    <td>336</td>
    <td>-298</td>
    <td>-315</td>
    <td>-321</td>
    <td>3,715</td>
    </tr> 
    <tr> 
    <th>감가상각비</th>
    <td>1,920</td>
    <td>1,919</td>
    <td>2,001</td>
    <td>1,977</td>
    <td>1,983</td>
    <td>1,972</td>
    <td>2,081</td>
    <td>2,079</td>
    <td>2,090</td>
    <td>368</td>
    <td>376</td>
    <td>373</td>
    <td>19,138</td>
    </tr> 
    <tr> 
    <th>무형자산상각</th>
    <td>29</td>
    <td>30</td>
    <td>32</td>
    <td>30</td>
    <td>32</td>
    <td>31</td>
    <td>28</td>
    <td>28</td>
    <td>28</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>272</td>
    </tr> 
    <tr> 
    <th>수선비</th>
    <td>327</td>
    <td>310</td>
    <td>282</td>
    <td>653</td>
    <td>392</td>
    <td>359</td>
    <td>611</td>
    <td>332</td>
    <td>360</td>
    <td>28</td>
    <td>23</td>
    <td>28</td>
    <td>3,704</td>
    </tr> 
    <tr> 
    <th>보험료</th>
    <td>406</td>
    <td>269</td>
    <td>362</td>
    <td>385</td>
    <td>337</td>
    <td>396</td>
    <td>330</td>
    <td>328</td>
    <td>335</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>3,151</td>
    </tr> 
    <tr> 
    <th>접대비</th>
    <td>202</td>
    <td>166</td>
    <td>183</td>
    <td>216</td>
    <td>157</td>
    <td>160</td>
    <td>175</td>
    <td>192</td>
    <td>246</td>
    <td>25</td>
    <td>28</td>
    <td>27</td>
    <td>1,776</td>
    </tr> 
    <tr> 
    <th>견본비</th>
    <td>1</td>
    <td>3</td>
    <td>1</td>
    <td>2</td>
    <td>2</td>
    <td>6</td>
    <td>6</td>
    <td>6</td>
    <td>6</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>34</td>
    </tr> 
    <tr> 
    <th>기타운반비</th>
    <td>0</td>
    <td>5</td>
    <td>9</td>
    <td>8</td>
    <td>6</td>
    <td>7</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>50</td>
    </tr> 
    <tr> 
    <th>지급수수료</th>
    <td>2,161</td>
    <td>1,930</td>
    <td>4,611</td>
    <td>2,689</td>
    <td>1,085</td>
    <td>161</td>
    <td>2,288</td>
    <td>2,847</td>
    <td>2,467</td>
    <td>434</td>
    <td>419</td>
    <td>601</td>
    <td>21,694</td>
    </tr> 
    <tr> 
    <th>관리용역비</th>
    <td>2,638</td>
    <td>2,740</td>
    <td>3,009</td>
    <td>2,868</td>
    <td>2,932</td>
    <td>3,298</td>
    <td>2,837</td>
    <td>3,090</td>
    <td>3,088</td>
    <td>740</td>
    <td>814</td>
    <td>837</td>
    <td>28,891</td>
    </tr> 
    <tr> 
    <th>대손상각비</th>
    <td>885</td>
    <td>887</td>
    <td>1,196</td>
    <td>50</td>
    <td>168</td>
    <td>501</td>
    <td>36</td>
    <td>965</td>
    <td>36</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>4,724</td>
    </tr> 
    <tr> 
    <th>소모품비</th>
    <td>66</td>
    <td>65</td>
    <td>82</td>
    <td>74</td>
    <td>323</td>
    <td>81</td>
    <td>89</td>
    <td>78</td>
    <td>80</td>
    <td>44</td>
    <td>30</td>
    <td>30</td>
    <td>1,043</td>
    </tr> 
    <tr> 
    <th>교육훈련비</th>
    <td>50</td>
    <td>37</td>
    <td>69</td>
    <td>54</td>
    <td>27</td>
    <td>93</td>
    <td>115</td>
    <td>69</td>
    <td>110</td>
    <td>2</td>
    <td>11</td>
    <td>31</td>
    <td>667</td>
    </tr> 
    <tr> 
    <th>도서인쇄비</th>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>8</td>
    <td>7</td>
    <td>51</td>
    <td>7</td>
    <td>8</td>
    <td>7</td>
    <td>1</td>
    <td>1</td>
    <td>2</td>
    <td>120</td>
    </tr> 
    <tr> 
    <th>차량유지비</th>
    <td>121</td>
    <td>127</td>
    <td>144</td>
    <td>144</td>
    <td>120</td>
    <td>158</td>
    <td>143</td>
    <td>142</td>
    <td>144</td>
    <td>11</td>
    <td>13</td>
    <td>11</td>
    <td>1,277</td>
    </tr> 
    <tr> 
    <th>회의비</th>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>7</td>
    </tr> 
    <tr> 
    <th>잡비</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>해외지사경비</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>창고관리비</th>
    <td>2,114</td>
    <td>2,552</td>
    <td>3,236</td>
    <td>2,225</td>
    <td>2,335</td>
    <td>2,693</td>
    <td>2,317</td>
    <td>2,293</td>
    <td>2,420</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>22,186</td>
    </tr> 
    <tr> 
    <th>대손상각비 환입</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>시험연구비</th>
    <td>2,994</td>
    <td>2,999</td>
    <td>3,594</td>
    <td>3,522</td>
    <td>3,839</td>
    <td>3,414</td>
    <td>3,651</td>
    <td>3,407</td>
    <td>3,377</td>
    <td>1,023</td>
    <td>1,090</td>
    <td>1,005</td>
    <td>33,914</td>
    </tr> 
    <tr> 
    <th>리스상각비</th>
    <td>2,111</td>
    <td>2,125</td>
    <td>2,143</td>
    <td>2,415</td>
    <td>2,450</td>
    <td>2,393</td>
    <td>2,407</td>
    <td>2,411</td>
    <td>2,415</td>
    <td>374</td>
    <td>374</td>
    <td>374</td>
    <td>21,992</td>
    </tr> 
     </table> 
     </div> 
     </td> 
     </tr> 
    <tr>
    <th>8. 영업이익②</th>
    <td>8,052</td>
    <td>16,578</td>
    <td>29,916</td>
    <td>25,209</td>
    <td>27,788</td>
    <td>27,669</td>
    <td>27,576</td>
    <td>24,314</td>
    <td>26,245</td>
    <td>11,063</td>
    <td>10,093</td>
    <td>9,404</td>
    <td>243,908</td>
    </tr> 
    <tr class="view">
    <th>영업이익2(%)</th>
    <td>2.60%</td>
    <td>4.90%</td>
    <td>8.30%</td>
    <td>7.80%</td>
    <td>8.00%</td>
    <td>8.30%</td>
    <td>8.20%</td>
    <td>7.10%</td>
    <td>7.50%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>8.00%</td>
    </tr> 
    <tr class="view">
    <th>9. 영업외수익</th>
    <td>5,255</td>
    <td>6,535</td>
    <td>7,965</td>
    <td>9,399</td>
    <td>12,207</td>
    <td>12,411</td>
    <td>588</td>
    <td>608</td>
    <td>624</td>
    <td>188</td>
    <td>185</td>
    <td>254</td>
    <td>56,220</td>
    </tr> 
    <tr class="view">
    <th>영업외수익(%)</th>
    <td>1.70%</td>
    <td>1.90%</td>
    <td>2.20%</td>
    <td>2.90%</td>
    <td>3.50%</td>
    <td>3.70%</td>
    <td>0.20%</td>
    <td>0.20%</td>
    <td>0.20%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>1.90%</td>
    </tr> 
    <tr class="fold">
     <td colspan="7"> 
     <div class="fold-content">         
     <table class="small-friendly"> 
     <tr> 
    <th>9.1. 금융수익</th>
    <td>331</td>
    <td>210</td>
    <td>314</td>
    <td>282</td>
    <td>397</td>
    <td>802</td>
    <td>126</td>
    <td>126</td>
    <td>126</td>
    <td>121</td>
    <td>118</td>
    <td>186</td>
    <td>3,138</td>
    </tr> 
    <tr> 
    <th>이자수익</th>
    <td>321</td>
    <td>202</td>
    <td>309</td>
    <td>278</td>
    <td>392</td>
    <td>797</td>
    <td>121</td>
    <td>121</td>
    <td>122</td>
    <td>116</td>
    <td>113</td>
    <td>120</td>
    <td>3,012</td>
    </tr> 
    <tr> 
    <th>단기매매증권이자수익</th>
    <td>9</td>
    <td>8</td>
    <td>5</td>
    <td>4</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>67</td>
    <td>127</td>
    </tr> 
    <tr> 
    <th>9.2. 외환차익</th>
    <td>4,203</td>
    <td>5,552</td>
    <td>6,400</td>
    <td>8,492</td>
    <td>11,036</td>
    <td>11,052</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>46,941</td>
    </tr> 
    <tr> 
    <th>외환차익(영업)</th>
    <td>3,737</td>
    <td>5,105</td>
    <td>6,166</td>
    <td>8,412</td>
    <td>10,992</td>
    <td>11,040</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>45,657</td>
    </tr> 
    <tr> 
    <th>외환차익(비영업)</th>
    <td>466</td>
    <td>447</td>
    <td>234</td>
    <td>80</td>
    <td>44</td>
    <td>13</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>1,284</td>
    </tr> 
    <tr> 
    <th>9.3. 파생상품거래이익</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>단기매매증권처분이익</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>9.4. 기타영업외수익</th>
    <td>722</td>
    <td>773</td>
    <td>1,252</td>
    <td>625</td>
    <td>774</td>
    <td>557</td>
    <td>428</td>
    <td>448</td>
    <td>463</td>
    <td>33</td>
    <td>33</td>
    <td>33</td>
    <td>6,141</td>
    </tr> 
    <tr> 
    <th>배당금수익</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>잡이익</th>
    <td>623</td>
    <td>753</td>
    <td>246</td>
    <td>614</td>
    <td>500</td>
    <td>524</td>
    <td>393</td>
    <td>409</td>
    <td>418</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>4,480</td>
    </tr> 
    <tr> 
    <th>유형자산처분이익</th>
    <td>99</td>
    <td>20</td>
    <td>17</td>
    <td>11</td>
    <td>32</td>
    <td>33</td>
    <td>2</td>
    <td>6</td>
    <td>12</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>232</td>
    </tr> 
    <tr> 
    <th>기타영업외이익</th>
    <td>0</td>
    <td>0</td>
    <td>4</td>
    <td>0</td>
    <td>241</td>
    <td>0</td>
    <td>33</td>
    <td>33</td>
    <td>33</td>
    <td>33</td>
    <td>33</td>
    <td>33</td>
    <td>445</td>
    </tr> 
    <tr> 
    <th>재고자산평가충당금환입</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>기타대손충당금환입</th>
    <td>0</td>
    <td>0</td>
    <td>984</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>984</td>
    </tr> 
     </table> 
     </div> 
     </td> 
     </tr> 
    <tr class="view">
    <th>10. 영업외비용</th>
    <td>15,212</td>
    <td>15,161</td>
    <td>19,373</td>
    <td>23,406</td>
    <td>20,942</td>
    <td>25,627</td>
    <td>13,940</td>
    <td>14,106</td>
    <td>14,333</td>
    <td>11,835</td>
    <td>11,533</td>
    <td>12,105</td>
    <td>197,572</td>
    </tr> 
    <tr class="view">
    <th>영업외비용(%)</th>
    <td>5.00%</td>
    <td>4.50%</td>
    <td>5.40%</td>
    <td>7.20%</td>
    <td>6.00%</td>
    <td>7.70%</td>
    <td>4.10%</td>
    <td>4.10%</td>
    <td>4.10%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>inf%</td>
    <td>6.50%</td>
    </tr> 
    <tr class="fold">
     <td colspan="7"> 
     <div class="fold-content">         
     <table class="small-friendly"> 
     <tr> 
    <th>10.1. 금융비용</th>
    <td>8,714</td>
    <td>8,340</td>
    <td>9,465</td>
    <td>9,834</td>
    <td>10,670</td>
    <td>10,210</td>
    <td>13,033</td>
    <td>13,179</td>
    <td>12,913</td>
    <td>11,233</td>
    <td>10,930</td>
    <td>11,502</td>
    <td>130,024</td>
    </tr> 
    <tr> 
    <th>이자비용</th>
    <td>8,714</td>
    <td>8,340</td>
    <td>9,465</td>
    <td>9,834</td>
    <td>10,670</td>
    <td>10,210</td>
    <td>10,924</td>
    <td>11,070</td>
    <td>10,872</td>
    <td>9,117</td>
    <td>8,881</td>
    <td>9,386</td>
    <td>117,484</td>
    </tr> 
    <tr> 
    <th>사채이자</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>매출채권매각손실</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2,109</td>
    <td>2,109</td>
    <td>2,041</td>
    <td>2,116</td>
    <td>2,048</td>
    <td>2,116</td>
    <td>12,540</td>
    </tr> 
    <tr> 
    <th>10.2. 외환차손</th>
    <td>4,744</td>
    <td>5,610</td>
    <td>8,019</td>
    <td>11,819</td>
    <td>9,252</td>
    <td>15,122</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>54,770</td>
    </tr> 
    <tr> 
    <th>외환차손(영업)</th>
    <td>4,508</td>
    <td>5,304</td>
    <td>6,802</td>
    <td>11,081</td>
    <td>8,363</td>
    <td>8,808</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>34</td>
    <td>45,071</td>
    </tr> 
    <tr> 
    <th>외환차손(비영업)</th>
    <td>236</td>
    <td>306</td>
    <td>1,217</td>
    <td>737</td>
    <td>889</td>
    <td>6,314</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>9,699</td>
    </tr> 
    <tr> 
    <th>파생상품거래손실</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>파생상품거래손실</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>단기매매증권처분손실</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>10.4. 기타영업외비용</th>
    <td>1,754</td>
    <td>1,211</td>
    <td>1,889</td>
    <td>1,753</td>
    <td>1,021</td>
    <td>294</td>
    <td>873</td>
    <td>893</td>
    <td>1,385</td>
    <td>567</td>
    <td>569</td>
    <td>569</td>
    <td>12,777</td>
    </tr> 
    <tr> 
    <th>기부금</th>
    <td>6</td>
    <td>0</td>
    <td>3</td>
    <td>18</td>
    <td>-8</td>
    <td>4</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>24</td>
    </tr> 
    <tr> 
    <th>유형자산처분손실</th>
    <td>1,552</td>
    <td>1,194</td>
    <td>502</td>
    <td>1,884</td>
    <td>851</td>
    <td>246</td>
    <td>844</td>
    <td>864</td>
    <td>1,360</td>
    <td>544</td>
    <td>544</td>
    <td>544</td>
    <td>10,931</td>
    </tr> 
    <tr> 
    <th>재고자산폐기손실</th>
    <td>-4</td>
    <td>-1</td>
    <td>3</td>
    <td>8</td>
    <td>-9</td>
    <td>-7</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>-11</td>
    </tr> 
    <tr> 
    <th>기타영업외비용</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>28</td>
    <td>28</td>
    <td>24</td>
    <td>23</td>
    <td>25</td>
    <td>25</td>
    <td>152</td>
    </tr> 
    <tr> 
    <th>잡손실</th>
    <td>117</td>
    <td>22</td>
    <td>65</td>
    <td>169</td>
    <td>187</td>
    <td>68</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>629</td>
    </tr> 
    <tr> 
    <th>기타대손상각비</th>
    <td>84</td>
    <td>-4</td>
    <td>1,316</td>
    <td>-326</td>
    <td>0</td>
    <td>-17</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>1,052</td>
    </tr> 
     </table> 
     </div> 
     </td> 
     </tr> 
    <tr>
    <th>11. 경상이익①</th>
    <td>-1,906</td>
    <td>7,952</td>
    <td>18,509</td>
    <td>11,203</td>
    <td>19,053</td>
    <td>14,454</td>
    <td>14,224</td>
    <td>10,816</td>
    <td>12,536</td>
    <td>-583</td>
    <td>-1,255</td>
    <td>-2,447</td>
    <td>102,556</td>
    </tr> 
    <tr>
    <th>경상이익1(%)</th>
    <td>-0.60%</td>
    <td>2.40%</td>
    <td>5.20%</td>
    <td>3.40%</td>
    <td>5.50%</td>
    <td>4.30%</td>
    <td>4.20%</td>
    <td>3.20%</td>
    <td>3.60%</td>
    <td>-inf%</td>
    <td>-inf%</td>
    <td>-inf%</td>
    <td>3.40%</td>
    </tr> 
    <tr class="fold">
     <td colspan="7"> 
     <div class="fold-content">         
     <table class="small-friendly"> 
     <tr> 
    <th>유형자산처분이익(비경상)</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>채무면제이익</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>리스이자수익</th>
    <td>12</td>
    <td>12</td>
    <td>12</td>
    <td>12</td>
    <td>12</td>
    <td>12</td>
    <td>12</td>
    <td>12</td>
    <td>12</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>108</td>
    </tr> 
    <tr> 
    <th>기타특별영업외수익</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>유형자산처분손실(비경상)</th>
    <td>12</td>
    <td>79</td>
    <td>53</td>
    <td>6</td>
    <td>133</td>
    <td>36</td>
    <td>12</td>
    <td>12</td>
    <td>12</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>355</td>
    </tr> 
    <tr> 
    <th>채무면제상각이자</th>
    <td>1,325</td>
    <td>1,627</td>
    <td>1,363</td>
    <td>1,486</td>
    <td>1,434</td>
    <td>9,790</td>
    <td>2,929</td>
    <td>2,929</td>
    <td>2,929</td>
    <td>2,929</td>
    <td>2,929</td>
    <td>2,929</td>
    <td>34,601</td>
    </tr> 
    <tr> 
    <th>리스이자비용</th>
    <td>343</td>
    <td>342</td>
    <td>336</td>
    <td>391</td>
    <td>391</td>
    <td>376</td>
    <td>349</td>
    <td>349</td>
    <td>349</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>3,225</td>
    </tr> 
    <tr> 
    <th>기타특별영업외손실</th>
    <td>145</td>
    <td>-117</td>
    <td>29</td>
    <td>0</td>
    <td>811</td>
    <td>214</td>
    <td>67</td>
    <td>67</td>
    <td>67</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>1,282</td>
    </tr> 
    <tr> 
    <th>유/무형감액손실,리스처분손실</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
     </table> 
     </div> 
     </td> 
     </tr> 
    <tr>
    <th>12. 경상이익②</th>
    <td>-3,718</td>
    <td>6,033</td>
    <td>16,738</td>
    <td>9,330</td>
    <td>16,297</td>
    <td>4,049</td>
    <td>10,880</td>
    <td>7,472</td>
    <td>9,192</td>
    <td>-3,512</td>
    <td>-4,184</td>
    <td>-5,377</td>
    <td>63,200</td>
    </tr> 
    <tr class="fold">
     <td colspan="7"> 
     <div class="fold-content">         
     <table class="small-friendly"> 
     <tr> 
    <th>12.1. 외화환산손익</th>
    <td>7,509</td>
    <td>-5,314</td>
    <td>2,968</td>
    <td>2,659</td>
    <td>-4,813</td>
    <td>5,148</td>
    <td>-680</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>7,477</td>
    </tr> 
    <tr> 
    <th>외화환산이익(영업)</th>
    <td>14,686</td>
    <td>17,733</td>
    <td>-3,639</td>
    <td>18,587</td>
    <td>-17,768</td>
    <td>-2,815</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>26,783</td>
    </tr> 
    <tr> 
    <th>외화환산이익(비영업)</th>
    <td>12,159</td>
    <td>-9,983</td>
    <td>2,196</td>
    <td>-232</td>
    <td>-2,034</td>
    <td>371</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2,477</td>
    </tr> 
    <tr> 
    <th>외화환산손실(영업)</th>
    <td>17,476</td>
    <td>8,423</td>
    <td>-2,188</td>
    <td>12,133</td>
    <td>-16,050</td>
    <td>-3,226</td>
    <td>680</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>17,249</td>
    </tr> 
    <tr> 
    <th>외화환산손실(비영업)</th>
    <td>1,859</td>
    <td>4,640</td>
    <td>-2,223</td>
    <td>3,563</td>
    <td>1,061</td>
    <td>-4,366</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>4,535</td>
    </tr> 
    <tr> 
    <th>12.2. 파생(보증채무)평가손익</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>파생상품평가이익</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>파생상품평가손실</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
     </table> 
     </div> 
     </td> 
     </tr> 
    <tr>
    <th>13. 경상이익③</th>
    <td>3,790</td>
    <td>720</td>
    <td>19,706</td>
    <td>11,989</td>
    <td>11,483</td>
    <td>9,198</td>
    <td>10,200</td>
    <td>7,472</td>
    <td>9,192</td>
    <td>-3,512</td>
    <td>-4,184</td>
    <td>-5,377</td>
    <td>70,678</td>
    </tr> 
    <tr class="fold">
     <td colspan="7"> 
     <div class="fold-content">         
     <table class="small-friendly"> 
     <tr> 
    <th>투자유가증권평가이익</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
    <tr> 
    <th>투자유가증권평가손실</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    </tr> 
     </table> 
     </div> 
     </td> 
     </tr> 
    <tr>
    <th>14. 경상이익④</th>
    <td>3,790</td>
    <td>720</td>
    <td>19,706</td>
    <td>11,989</td>
    <td>11,483</td>
    <td>9,198</td>
    <td>10,200</td>
    <td>7,472</td>
    <td>9,192</td>
    <td>-3,512</td>
    <td>-4,184</td>
    <td>-5,377</td>
    <td>70,678</td>
    </tr> 
    <tr>
    <th>경사이익4(%)</th>
    <td>1.20%</td>
    <td>0.20%</td>
    <td>5.50%</td>
    <td>3.70%</td>
    <td>3.30%</td>
    <td>2.80%</td>
    <td>3.00%</td>
    <td>2.20%</td>
    <td>2.60%</td>
    <td>-inf%</td>
    <td>-inf%</td>
    <td>-inf%</td>
    <td>2.30%</td>
    </tr> 
    <tr> 
    <th>15. 법인세비용</th>
    <td>-644</td>
    <td>-1,373</td>
    <td>8,319</td>
    <td>1,879</td>
    <td>-382</td>
    <td>5,681</td>
    <td>385</td>
    <td>566</td>
    <td>1,460</td>
    <td>725</td>
    <td>628</td>
    <td>7,719</td>
    <td>24,963</td>
    </tr> 
    <tr>
    <th>16. 당기순이익</th>
    <td>4,435</td>
    <td>2,093</td>
    <td>11,387</td>
    <td>10,109</td>
    <td>11,865</td>
    <td>3,516</td>
    <td>9,816</td>
    <td>6,906</td>
    <td>7,732</td>
    <td>-4,237</td>
    <td>-4,812</td>
    <td>-13,095</td>
    <td>45,715</td>
    </tr> 
    <tr>
    <th>당기순이익(%)</th>
    <td>1.50%</td>
    <td>0.60%</td>
    <td>3.20%</td>
    <td>3.10%</td>
    <td>3.40%</td>
    <td>1.10%</td>
    <td>2.90%</td>
    <td>2.00%</td>
    <td>2.20%</td>
    <td>-inf%</td>
    <td>-inf%</td>
    <td>-inf%</td>
    <td>1.50%</td>
    </tr> 
    </tbody>
    
    